# Database
# DATABASE_URL="postgresql://username:password@localhost:5432/school_management?schema=public"
DATABASE_URL="mongodb+srv://username:password@your-cluster.mongodb.net/your-db?retryWrites=true&w=majority"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV=Production


# JWT
# JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
# JWT_EXPIRES_IN=7d

